<tr>
  <td><a href="/sightings/{{id}}">{{createdAt}}</a></td>
  <td class="valign-wrapper"><a href="/birds/{{Bird.id}}">{{Bird.common_name}}</a><img class="bird-img" src="{{image_URL}}"/></td>
  <td>{{location}}</td>
  <td class="center-align">{{Bird.points}}</td>
  <td class="center-align"><a href="/sightings/{{id}}/edit"><i class="fas fa-edit"></i></a></td>
  <td class="center-align delete-sighting" data-id="{{id}}"><a href=""><i class="fas fa-trash-alt"></i></a></td>
  </tr>100