{{> nav-bar }}

<div class="container">
  <div class="row">
    <h2 class="center-align">Record a Sighting</h2>
    <form class="col s12 m6 l8 sighting-form">
      <div class="row">
        <i class="material-icons prefix">add_a_photo</i>
        <button id="upload_widget" class="btn bird-btn-secondary">Upload files</button>
        <span class="hide" id="successMessage">Upload was sucessful!</span>
        <span class="hide" id="failMessage">Upload failed!</span>
      </div>
      <div class="input-field row">
        <i class="material-icons prefix">people</i>
        <select id="user_select" placeholder="test">
          {{#unless query}}
          <option value="" disabled selected>Choose your username</option>
          {{/unless}}
          {{#each users}}
          <option value={{dataValues.id}} data-score={{dataValues.score}}>{{dataValues.user_name}}</option>
          {{/each}}
        </select>
        <p id="create-account-text">Don't have an account? <a href="/users/new">Click here to create one.</a></p>
      </div>
      <div class="input-field row">
        <i class="material-icons prefix"><i class="fas fa-crow fa-sm"></i></i>
        <select id="bird_select">
          <option value="" disabled selected>Select a bird</option>
          {{#each birds}}
          <option value={{dataValues.id}} data-points={{dataValues.points}}>{{dataValues.common_name}}</option>
          {{/each}}
        </select>

      </div>
      <div class="row">
        <div class="input-field col-12">
          <i class="material-icons prefix">add_location</i>
          <textarea id="location" class="materialize-textarea"></textarea>
          <label for="location">Enter a location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col-12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="comments" class="materialize-textarea"></textarea>
          <label for="comments">Comments</label>
        </div>
      </div>
      <div class="warning-fields hide center-align">
        <p>You must fill out all form fields before submitting!</p>
      </div>
      <div class="row">
        <button class="btn" id="submit">Submit your sighting!</button>
      </div>
    </form>
    <div class="col s12 m6 l4 image-preview">
      <div class="row center-align">
        <i class="material-icons prefix">photo_camera</i>
        <p id="uploaded-image"><img src="/assets/imgs/no-image.jpg" class="responsive-img z-depth-3" /></p>
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="../assets/js/new-sighting.js"></script>