{{> nav-bar }}


<div class="container center-align">

<h1 class="">{{Bird.common_name}}</h1>
<h5>Location: {{location}}</h5>
<h5>User: {{User.user_name}}</h5>

<img alt="image of {{Bird.common_name}}" src="{{image_URL}}" class="z-depth-3" id="single-bird-img" />
<h5 class="text-align: center">Comments: {{comments}}
    <p>Points earned: {{Bird.points}}</p></h5>
</div>