{{> nav-bar }}


<div class="container center-align">

<h1 class="">{{common_name}}</h1>
<h5>Location: {{location}}</h5>
<h5>Comments: {{comments}}</h5>
<img alt="image of {{common_name}}" src="{{image_URL}}" class="single-bird-img" />
<h5 class="text-align: center">User: {{user_name}} Points earned: {{points}}</h5>
</div>